@font-face {
  font-family: 'Peyda';
  src: url('../fonts/Peyda/PeydaWeb/woff2/PeydaWeb-Medium.woff2') format('woff2'),
       url('../fonts/Peyda/PeydaWeb/woff/PeydaWeb-Medium.woff') format('woff'),
       url('../fonts/Peyda/Peyda-Medium.ttf') format('truetype');
}

body {
  font-family: "Peyda" !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  direction: rtl; /* Set direction to RTL */

}
body, html {
  overflow-x: hidden;
}

.datepicker-plot-area {
  font-family: "Peyda" !important;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidebar {
  width: 20%;
  color: rgb(0, 0, 0);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-left: 1px solid #384553;
}

.sidebar .menu {
  flex-grow: 1;
  margin-top: 70px;;
}

.sidebar a {
  color: rgb(0, 0, 0);
  display: block;
  padding: 10px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #f9f9f9;
  border-radius: 10px;
}
.sidebar .logout:hover{
  background-color: rgb(234, 75, 75);
  color: white;
}


.main-content {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  display: flex;
  justify-content: center;
  flex: 1;
}

.navbar .user-name, .navbar .btn {
  flex-shrink: 0;
}

.content {
  flex: 1;
  overflow: auto;
}


@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
  }

  .sidebar.active {
    display: block;
  }
  .date-display{
    display: none;
  }
  .navbar .logo {
    display: flex;
    justify-content: left;
    flex: 1;
  }

  .sidebar .close-btn {
    display: block;
  }
  .toggle-side{
    display: block !important;
  }
  .user-name{
    display: none;
  }
}

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollable {
  overflow-y: auto;
  max-height: calc(100vh - 20px);
}
